---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ClassBar from "../components/bars/ClassBar.astro";
import SubjectBar from "../components/bars/SubjectBar.astro";
import MaterialBar from "../components/bars/MaterialBar.astro";
import TheoryBar from "../components/bars/TheoryBar.astro";
import {
  eq,
  db,
  and,
  Student,
  Class_Student,
  Class,
  Subject,
  Exercise,
  Theory,
} from "astro:db";

const student_email = Astro.cookies.get("Student_email");
const classes = await db
  .select({
    id: Class.id,
    description: Class.description,
    teacher_id: Class.teacherId,
  })
  .from(Class)
  .innerJoin(Class_Student, eq(Class.id, Class_Student.classId))
  .innerJoin(Student, eq(Student.id, Class_Student.studentId))
  .where(eq(Student.email, student_email.value));

var class_clicked = await fetch(
  "http://localhost:4321/api/Class_clicked.json",
  {
    method: "GET",
    headers: { "Content-Type": "application/json" },
  }
);

var json_class = await class_clicked.json();
var subjects = [];
var Subject_visibility = false;
var Material_visibility = false;
var Theory_visibility = false;

if (json_class["title"] != null) {
  subjects = await db
    .select({
      id: Subject.id,
      description: Subject.description,
      classId: Subject.classId,
    })
    .from(Subject)
    .innerJoin(Class, eq(Subject.classId, Class.id))
    .innerJoin(Class_Student, eq(Class.id, Class_Student.classId))
    .innerJoin(Student, eq(Student.id, Class_Student.studentId))
    .where(
      and(
        eq(Class.description, json_class["title"]),
        eq(Student.email, student_email.value)
      )
    );
  Subject_visibility = true;
  if (Material_visibility) {
    Material_visibility = false;
    Theory_visibility = false;
  }
}

var subject_clicked = await fetch(
  "http://localhost:4321/api/Subject_clicked.json",
  {
    method: "GET",
    headers: { "Content-Type": "application/json" },
  }
);

var json_subject = await subject_clicked.json();
var material = [];

var theory = [];

if (json_subject["title"] != null) {
  material = await db
    .select({
      id: Exercise.id,
      description: Exercise.description,
      subjectId: Exercise.subjectId,
    })
    .from(Exercise)
    .innerJoin(Subject, eq(Exercise.subjectId, Subject.id))
    .innerJoin(Class, eq(Subject.classId, Class.id))
    .innerJoin(Class_Student, eq(Class.id, Class_Student.classId))
    .innerJoin(Student, eq(Student.id, Class_Student.studentId))
    .where(
      and(
        eq(Subject.description, json_subject["title"]),
        eq(Student.email, student_email.value)
      )
    );

  theory = await db
    .select({ id: Theory.subjectId, description: Theory.content })
    .from(Theory)
    .innerJoin(Subject, eq(Theory.subjectId, Subject.id))
    .innerJoin(Class, eq(Subject.classId, Class.id))
    .innerJoin(Class_Student, eq(Class.id, Class_Student.classId))
    .innerJoin(Student, eq(Student.id, Class_Student.studentId))
    .where(
      and(
        eq(Subject.description, json_subject["title"]),
        eq(Student.email, student_email.value)
      )
    );

  Material_visibility = true;
  Theory_visibility = true;
}
// var exersice_cliked = await fetch(
//   "http://localhost:4321/api/Exercise_clicked.json",
//   {
//     method: "GET",
//     headers: { "Content-Type": "application/json" },
//   }
// );
// var json_exercise = await exersice_cliked.json();
// var exersice_clicked = [];
// console.log(json_exercise);

// if (json_exercise != null) {
//   exersice_clicked = await db
//     .select({
//       id: Exercise.id,
//       description: Exercise.description,
//       subjectId: Exercise.subjectId,
//     })
//     .from(Exercise)
//     .innerJoin(Subject, eq(Exercise.subjectId, Subject.id))
//     .innerJoin(Class, eq(Subject.classId, Class.id))
//     .innerJoin(Class_Student, eq(Class.id, Class_Student.classId))
//     .innerJoin(Student, eq(Student.id, Class_Student.studentId))
//     .where(
//       and(
//         eq(Exercise.description, json_exercise["title"]),
//         eq(Student.email, student_email.value)
//       )
//     );
// }

// console.log(json_exercise);
---

<Layout title="Welcome to EducaNet.">
  <Header />
  <div id="Bars" class="inline-flex gap-5">
    <ClassBar title="Classes" items={classes} />
    <SubjectBar
      title="Subjects"
      items={subjects}
      visible={Subject_visibility}
    />
    <MaterialBar
      title="Material"
      items={material}
      visible={Material_visibility}
    />
    <TheoryBar title="Theory" items={theory} visible={Theory_visibility} />
  </div>
</Layout>
